#logContainer button {
    height: 100%;
}

#tooltipDiv {
    background-color: #212935;
}
#tooltipDiv table {
    background-color: #2f3648;
}
#tooltipDiv div,
#tooltipDiv table tbody,
#tooltipDiv table tr,
#tooltipDiv table td {
    background-color: inherit;
    color: white;
}

#equipmentContainer .thingName {
    word-spacing: 9999px;
}

#settingsTable {
    border-top: 1px solid #1b1f2c;
}

ul.tab li {
    border-radius: 8px 8px 0 0;
}
ul.tab li .active {
    background-color: #4c5468 !important;
    border-radius: 8px 8px 0 0;
}
ul.tab li a {
    border-radius: 8px 8px 0 0;
}
ul.tab li a:hover {
    background-color: #657089 !important;
    border-radius: 8px 8px 0 0;
}
#autoMapLabel {
    border-width: 0 !important;
    border-style: none !important;
    background: inherit;
    line-height: 0;
}
#autoMapBtn {
    border-width: 0 !important;
    border-style: none !important;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    font-size: 0.875rem !important;
    font-weight: 600;
}
.settingsBtn {
    border: none !important;
}
#autoTrimpsTabBarMenu {
    background-color: #1a1e2b;
    border: 1px solid #1b1f2c;
}
#autoSettings {
    border: 1px solid #1b1f2c;
}
.tabcontent {
    border: 1px solid #1b1f2c !important;
}
#autoTrimpsTabBarMenu > li {
    border-top: 1px;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-bottom: 0;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid black;
    text-align: center;
    border-color: #1a202c;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3pt;
    background-color: #2d3748;
    color: #e2e8f0;
}
#autoTrimpsTabBarMenu > li > a {
    border-spacing: 0;
    border-collapse: collapse;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3pt;
    color: #e2e8f0;
    box-sizing: border-box;
}
